{% extends "base.html" %}

{% block content %}
<h1>Главная</h1>
{% for item in news%}
<div class="col-md6 border rounded">
    <script>
        function sendDataToParent() {
            const params = {
                userid: 1
            };

            // Вызываем функцию в родительском окне
            window.parent.PlayAudio(params);
        }
    </script>
    <p>
        <h3><button id="Play" onclick="playAudio({{item.id}})"> > </button>
        {{item.title}} | Исполнитель: {{item.artist}} | Альбом: {{item.album}}</h3>
        <div>
            Добавил(а) - {{item.user.name}}, Дата загрузки - {{item.created_date}}
        </div>
    </p>
</div>
{% endfor %}
{% endblock %}