{% extends "base.html" %}

{% block content %}
<h1>Новое</h1>
{% for item in news%}
<div class="col-md6 border rounded">
    <script>

    </script>
    <p>
        <audio id="audioPlayer" controls ></audio>
        <h3><a class="btn btn-success" href="/api/v2/music/{{item.id}}/play"> > </a>
        {{item.title}} | Исполнитель: {{item.artist}} | Альбом: {{item.album}}</h3>
        <div>
            Добавил(а) - {{item.user.name}}, Дата загрузки - {{item.created_date}}
        </div>
    </p>
</div>
{% endfor %}
{% endblock %}